.vaccinate-appoinment-edit-modal--content{
     .modal-dialog{
         .modal-content{
             .modal-footer{
                 .close-btn{
                     color: #fff !important;
                 }
                 .submit-btn{
                     color: #fff !important;
                     background-color: #ee6c4d;
                     border-color: #ee6c4d;
                 }
             }
         }
     }
 }